* {
    box-sizing: border-box;
}

footer {
    text-align: center;
}

.signup-header {
    margin-left: 20px;
}

.signup-section {
    background-color: #E8E8E8;
}

.signup-section_content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

.signup-button {
    margin: 10px;
}